/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slide {
    height: 100%;
    width: 180px;
    position: absolute;
    background-color: bisque;
    transition: 0.5s ease;
    transform: translateX(-180px);
}

h1 {
    color: #0000ff;
    font-weight: 800;
    text-align: right;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
}

ul li {
    list-style: none;
}

ul li a {
    color: #011a41;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

ul li a i {
    width: 40px;
    text-align: center;
}

input {
    display: none;
    visibility: hidden;
}

.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #8000ff;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}


input:checked ~ .toggle .top_line {
    left: 2px;
    width: 25px;
    transform: rotate(45deg);
    top: 14px;
}

input:checked ~ .toggle .middle_line {
    transform: translateX(20px);
    opacity: 0;
}

input:checked ~ .toggle .bottom_line {
    transform: translateX(-45px);
    left: 2px;
    top: 14px;
    width: 25px;
}

input:checked ~ .slide {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
} */